Pods/
WYStreamMaster.xcodeproj/xcuserdata/
WYStreamMaster.xcworkspace/xcuserdata/
*.xcuserstate 
.DS_Store
*.config 
*.a
build
WYStreamMaster.xcodeproj/contents.xcworkspacedata/
WYStreamMaster.xcworkspace/contents.xcworkspacedata/
DerivedData/
WYStreamMaster.xcscheme
xcschememanagement.plist
Podfile.lock
